<div class="serie-details" *ngFor="let movie of movies">
  <div class="content">
    <div class="poster">
      <img [src]="image + movie.poster_path" alt="movie Poster" />
    </div>
    <div class="info">
      <h1>{{ movie.title }}</h1>
      <div class="genres">
        <span *ngFor="let genre of movie.genres">{{ genre.name }} </span>
        <i class="pi pi-star-fill" style="color: rgb(218, 188, 23)">
          {{ movie.vote_average }}
        </i>
      </div>
      <p class="overview">{{ movie.overview }}</p>
      <div class="buttons">

        <button
           *ngIf="save === false"
          class="action-button"
          (click)="guardarMovie(movie.poster_path!, movie.title!, movie.id!)"
        >
          Guardar
        </button> <!-- Cuando no esta guardado -->

        <button class="action-button" *ngIf="save === true" >
          <i class="pi pi-check" style="color: rgb(253, 253, 253)">
          </i
          >Guardar
        </button> <!-- Cuando esta guardado -->

        <button class="action-button like-button" (click)="darLike()">
          <i
            class="pi pi-heart"
            *ngIf="!like"
            style="color: rgb(253, 253, 253)"
          >
            Like
          </i>
          <i
            class="pi pi-heart-fill"
            *ngIf="like"
            style="color: rgb(253, 253, 253)"
          >
            Like
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
