<!-- <div class="body">
  <div class="container">
    <form class="registration-form">
      <h1>Registro de Usuario</h1>
      <div class="input-group">
        <input type="text" id="name" placeholder="Nombre" />
      </div>
      <div class="input-group">
        <input type="text" id="lastname" placeholder="Apellido" />
      </div>
      <div class="input-group">
        <input type="email" id="email" placeholder="Email" />
      </div>
      <div class="input-group">
        <input type="password" id="password" placeholder="Contraseña" />
      </div>
      <button class="register-button" type="submit">Registrar</button>
    </form>
  </div>
</div>
 -->
 <h1>Pagina en mantenimiento, intente nuevamente en otro momento...</h1>