/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

h1, h2, h3, h4, p, li, span {
    font-family: 'Roboto', sans-serif;
    color: rgba(212, 209, 209, 0.699);
}
.card{
    background-color: inherit;
    border: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
